<library path="lib/libvr_puppets_demo">
  <class name="VRPuppets_demo" type="VRPuppets_demo" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      VR puppets demo plugin
    </description>
    <qtgui>
      <group>
        <label>Roboy</label>
      </group>
      <label>vr puppets demo</label>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
